<div>
Bienvenidos al CoderChat comunitario
    <input id="chatbox">
    <p id="messageLogs"></p>
        <h1>Usuario</h1>
        <p>Nombre: {{user.name}}</p>
        <p>Apellido: {{user.last_name}}</p>
        <p>Edad: {{user.age}}</p>
        <p>Email: {{user.email}}</p>
        <p>Telefono: {{user.phone}}</p>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
